
// transitionは一括指定のプロパティ。
// 変化が発生した場合は２秒かけて変化する。 
.card{
    transition:all 2s linear;
}


/* 不透明度が下がり、長さが短くなるアニメーション */
.deplete-animation{
    animation: deplete 1s linear forwards;
}

/* 不透明度が上がり、長さが長くなるアニメーション */
.expand-animation{
    animation: deplete 1s linear reverse forwards;
}

/*
アニメーションの始まりは幅が100%
透明度が１
アニメーションの終わりは幅が0%
透明度が０
*/

@keyframes deplete {
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    } 
}